
html, body { 
  height: 100%; 
}

body {
  margin: 0;
  background-color: #878a8e !important;
}

.App {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 100% !important;
}

.ui.image{
  width: auto;
  height: 16vh;
  font-size: 1rem;
}

.ui.cards>.card>.content{
  padding: 0.5em !important;
}

html {
  font-family: 'Lato', sans-serif;
}

.Contents {
  min-height: calc(100vh - 175px);
}

.ui.huge.header {
  font-size: 4em !important;
  padding-top: 20px !important;
}

.CardContainer{
  padding-top: 1vh;
  margin-bottom: 30px;
}

footer {
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
  width: 100vw;
  height: 60px;
  margin-left: -30px;
}

.Header {
  font-size: 6rem;
  height: 100px;
  padding-top: 50px;
  max-width: 100%;
  overflow: hidden;
}